package com.hew.second.gathering;

public class Env {
    // use simple-string-obfuscator
    public static final Object API_URL = [APIのURL OBJECT];
    public static final Object GURUNAVI_API_URL = [APIのKEY OBJECT];
    public static final Object HOTPEPPER_API_URL = [APIのKEY OBJECT];
}
